# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# gradle
build
.gradle

# other
backup
reference_material
eclipse
run

# datagen
src/generated/resources/.cache
run-data

# Files from Forge MDK
forge*changelog.txt
